.productCardStyle {
  max-width: 400px;
  cursor: pointer;
  text-decoration: none;
  padding-bottom: var(--space-md);
}

.productImageStyle {
  margin-bottom: var(--space-md);
}

.productDetailsStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productVendorStyle {
  color: var(--text-color-secondary);
}

.productHeadingStyle {
  width: 100%;
  font-size: var(--text-xl);
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: var(--bold);
}

.productPrice {
  color: var(--text-color-secondary);
  margin-top: var(--space-sm);
}
